@CHARSET "UTF-8";

#id-busy-overlay {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGUAAABlCAYAAABUfC3PAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACuSURBVHja7NEBDQAwCASxMXXIeunYIKEn4VpJ+mlV3wIoggJFUKAIChRBERQoggJFUKAIiqBAERQoggJFUAQFiqBAERQogiIoUAQFiqBAERRBgSIoUAQFiqAIChRBgSIoUARFUKAIChRBgSIoggJFUKAIChRBERQoggJFUKAIiqBAERQoggJFUAQFiqBAERQoggLFAiiCAkVQoAgKFEERFCiCAkVQDjcAAAD//wMAWGICkhwY5WwAAAAASUVORK5CYII%3D) repeat;
	position:absolute; 
	left:0px;
	top:0px;  
}